.footer {
  background-color: #333;
  padding: 2em 0 1em 0;

  a {
    color: #fff;
    text-decoration: none;
  }
  a:hover {
    color: #376ab0;
    text-decoration: underline;
  }

  &__row {
    @include breakpoint($mobile) {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      justify-content: center;

    }
    @include breakpoint($tablet) {
        flex-direction: row;
        justify-content: space-around;
    }


  }
  &__contact {
    @include breakpoint($mobile) {
      margin: 0 auto;
    }
    @include breakpoint($tablet) {
      margin: unset;
    }

    p {
      padding-top: 0.5em;
      text-align: left;
      color: #fff;
      line-height: 1.5em;
      font-size: 1rem;
      font-family: Roboto, sans-serif;
    }
    span {
      color: #376ab0;
      font-size: 1rem;
      text-shadow: 0px 0px 1px rgba(0,0,0,0.4),
      0px 4px 1px rgba(0,0,0,0.1),
      0px 3px 0px rgba(0,0,0,0.1);
      font-family: Roboto, sans-serif;
    }
  }
  &__links {
    @include breakpoint($mobile) {
      padding-top: 2em;
    }
    @include breakpoint($tablet) {
      padding-top: 0;
    }

    ul {
      color: #fff;
      list-style: none;
    }
    li {
      padding-top: 1.2em;
    }
    li a {
      color: #fff;
      text-decoration: none;

    }
    li a:hover {
      color: #376ab0;
      text-decoration: underline;
    }
  }
  &__copyright {
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    text-align: center;
    color: #fff;
    padding: 2em 0 1em 0;
  }
}
